
body {
margin: 0;
 padding: 0;
 background-image: url("/images/hotel_travel.jpg");
  /*background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
}
h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}

.login-form {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  margin-top: 5%;
  padding: 40px;
  background: #8fbc8f;
  background-color: gray;
  border-radius: 15px;
}

h2 {
font-family:Tahoma;
  padding-bottom: 30px;
  padding-left:60px;
  position: relative;
  font-size: xx-large;
}
.input{
border-radius:20px;
padding:10px;
margin:10px 0;
width:100%;
border:1px solid #999;
outline: none;
}

p{
    text-align: center;
    color: black;
    font-size: 15px;
    margin-top: -10px;
}
button{
 background-color: pink;
 width:100%;
 padding:10px;
 border-radius:20px;
 font-size:15px;
 border:none;
 outline:none;
 cursor:pointer;
}