* {
  margin: 0;
  padding: 0;
}

body {
 background-image: url("/images/hotel_travel.jpg");
  /*background-position: center;*/
  background-size: cover;
  background-repeat: no-repeat;
}
.login h1 {
  color: white;
  text-align: center;
  padding-top: 50px;
  font-size: 50px;
}

.loginDetails {
  width: 382px;
  overflow: hidden;
  margin: auto;
  margin: 20 0 0 450px;
  margin-top: 7%;
  padding: 60px;
  background: #8fbc8f;
  background-color: gray;
  border-radius: 15px;
}

h2 {
font-family:Tahoma;
  padding-bottom: 30px;
  padding-left:60px;
  position: relative;
  font-size: xx-large;
}
#uname {
  font-family: Coves; /*, Verdana, sans-serif;*/
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
}
#pass {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 20px;
}

label {
  font-size: 20px;
  font-family: Tahoma;
}

button {
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: black;
  background-color: pink;
}
