<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: html_headtag"/>

<body>
<div th:replace="fragments :: html_header"></div>

<div class="container">
    <h1 th:align="center"> EXPEDIA HOTEL BOOKING APP</h1>
    <br>
    <h2>
        Welcome, <span sec:authentication="principal.username">User</span>
    </h2>
<br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <label for="place">Going to:</label>
                <input type="search" class="form-control" id="place" name="placeSelect" placeholder="Going to"/>

            </div>
            <div class="col-lg-3">
                <label for="dateIn">Check In:</label>
                <input type="date" class="form-control" id="dateIn" name="dateIn" placeholder="Check In">
            </div>

            <div class="col-lg-3">
                <label for="dateOut">Check Out:</label>
                <input type="date" class="form-control" id="dateOut" name="dateOut" placeholder="Check Out">
            </div>
        </div>
        <br><br><br>
        <div class="container bg-light">
            <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-success"><a th:href="@{/result}">Search</a></button>

            </div>
        </div>

        <br>
        <br>
    </div>
    <div th:replace="fragments :: html_footer"></div>
</div>
</body>
</html>