<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <title>loginpage</title>
    <link th:href = "@{/css/login.css}" rel="stylesheet" >
</head>
<body>
<h1>Expedia Hotel Bookings</h1>
<div class="login-form">
    <form name="myForm" action="/welcome.html" >
        <h2>Login Details</h2>
        <input type="email" class="input"  name="mail" placeholder="Email id" required />
        <br /><br />
        <input type="password" class="input"  name="password" placeholder="Password" required />
        <br /><br />
        <button type="submit" id="signin-btn">Sign in</button>
        <hr><br/>
        <p>Create New Account?<a th:href="@{/signup}">Sign up</a> </p>
    </form>
</div>
</body>
</html>