<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My Bookings</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>My Bookings</h3>

    <hr/>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Booking Date</th>
            <th>Booking Id</th>
            <th>Hotel Name</th>
            <th>Location</th>
            <th>CheckIn</th>
            <th>CheckOut</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="book,state:${bookpage}">
            <td th:text="${book.createdDate}" />
            <td th:text="${book.bookingId}" />
            <td th:text="${book.hotelName}" />
            <td th:text="${book.location}" />
            <td th:text="${book.checkIn}" />
            <td th:text="${book.checkOut}" />

        </tr>
        </tbody>

    </table>
</div>


</body>

</html>